/* FONTS: Roboto, Montserrat, Open Sans, Source Sans Pro, Poppins*/
@font-face {
    font-family: 'SF Pro Regular';
    src: url('assets/SFPRODISPLAYREGULAR.OTF') format('woff2'),
         url('assets/SFPRODISPLAYREGULAR.OTF') format('woff');
  }

@font-face {
    font-family: 'SF Pro Text';
    src: url('assets/SFPROTEXT-REGULAR.ttf') format('woff2'),
         url('assets/SFPROTEXT-REGULAR.ttf') format('woff');
  }


/*GERAL*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #6E6E73;
}

/*BOX*/
body{
    background-color: aliceblue;
    padding: 20px;
}
header{
    background-color: aliceblue;
    height: 600px;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color:  aliceblue;
    height: 50px;
    max-width: 500px;
    margin: 0 auto;
}
article{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 80px auto 0 auto ;
    justify-content: space-around;
}
section{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1200px;
    margin: 50px auto 100px auto ;
    justify-content: space-evenly;
}

#block-one{
    max-width: 500px;
}
#help, #more{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}
.produtos{
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-items: center;
}
.card{
    background-color: black;
    box-shadow: 3px 3px 3px black;
    padding: 30px;
    margin-left: 20px;
    border-radius: 13px;
    width: 400px;
    height: 300px;
    justify-content: space-between;
}
.display{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    
}
.conteiner{
    display: flex;
    flex-direction: row;
}
#sec-two{
    max-width: 1000px;
    margin: 0 auto;
}


nav:hover{
    max-width: 1000px;
    padding: 20px;
    transition: 0.5s;
}
nav:not(:hover){
    max-width: 500px;
    transition: 1.0s;
}
.dispositivos:hover{
    padding: 10px;
    transition: 0.5s;
}
.dispositivos:not(:hover){
    padding: 0px;
    transition: 0.5s;
}
/*IMAGENS*/
.logo{
    width: 30px;
}
.foto{
    width: 30px;
}
.dispositivos{
    width: 120px;
    margin-left: 20px;
}

/*TEXTO*/
li{
    list-style: none;
    font-size: 20px;
}
h1,h2,h3{
    font-family: SF Pro;
}
h1{
    font-size: 48px;
}
h2{
    font-size: 38px;
}
h3{
    font-size: 28px;
}
p{
    font-family: SF Pro Text;
    color: black;
    max-width: 500px;
    font-size: 16px;
}
a{
    text-decoration: none;
}
span{
    color: black;
}
li > a{
    color: black;
}
section > div{
    text-align: center;
}
.card > p, h3, h4{
    color: aliceblue;
}